@use '../../styles/shared' as *;

.numbers-title {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--light-gray);
}

.number-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.number-badge {
  @extend %number-badge;

  &.winning {
    background-color: var(--winning-color);
    color: white;
  }

  &.matching {
    background-color: var(--matching-color);
    color: black;
  }
}

.search {
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -1rem;
  padding-bottom: 1rem;

  input {
    margin-left: 0;
    margin-right: 5px;
  }
}

.edit-button {
  @extend %btn-base;
  margin-left: auto;
}