<div class="winning-input-container" [formGroup]="form">
  <p class="instruction">Enter or paste 6 numbers between 1 and 59:</p>

  <div class="number-inputs" formArrayName="numbers">
    @for (i of controlIndices; track i) {
      <div class="input-container">
        <label [for]="'number-input-' + i" class="input-label"
          >Number {{ i + 1 }}</label
        >
        <input
          type="number"
          min="1"
          max="59"
          [id]="'number-input-' + i"
          [formControlName]="i"
          (paste)="parseInputString($event)"
          (keydown)="handleKeyDown($event, i)"
          class="number-input"
        />
      </div>
    }
  </div>

  <button
    class="submit-button"
    [disabled]="form.invalid"
    (click)="submitWinningNumbers()"
  >
    Set Winning Numbers
  </button>
</div>
