@use '../../styles/shared' as *;

.winning-input-container {
  margin-top: 20px;
  margin-bottom: 20px;

  .instruction {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .number-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    gap: 1rem;

    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;

      .input-label {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--gray-900);
        margin-bottom: 4px;
        text-align: center;
      }
    }
  }

  .submit-button {
    @extend %btn-large;
    display: block;
    margin: 0 auto;
  }
}